 <footer id="id-footer" class="navbar navbar-expand-lg navbar-dark fixed-bottom bg-dark-50">
        <div class="container-fluid">
            <div class="col-md" style="font-size: 12px">
                <span class="text-white fa-pull-left">Copyright © 2020</span>
                <span class="fa-pull-right">
               <a class="text-white" href="https://{{ system.website }}/" target="_blank"
                  style="font-family:Arial; letter-spacing:4px">
                       {{ system.website }} - vs.{{ system.version }}
               </a>
           </span><br>
            </div>
        </div>
    </footer>
